//META{"name":"MiniTheme","description":"Easy on the eyes.","author":"Bacon_Space","version":"0.0"}*//
@import url(https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/highlightJS.css);
/*Nitro Tag*/
.avatar-large[style*="/a_"]+.comment .username-wrapper:before {
    background: url('https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg') 50% 50% / contain no-repeat;
    float:left;
    content: '';
    width: 21px;
    height: 16px;
    margin: 0 5px 0 -5px;
}
.avatar-small[style*="/a_"]+.member-inner .member-username:before {
    background: url('https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg') 50% 50% / contain no-repeat;
    float:left;
    content: '';
    width: 21px;
    height: 16px;
    margin: 0 5px 0 -5px;
}
/*Blur email in settings*/
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type {
    -webkit-filter: blur(5px) !important;
}
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type:hover {
    -webkit-filter: initial !important;
}
div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}

.roleCircle-3-vPZq {
    border-radius: 1%;
    height: 12px;
    margin-right: 4px;
    width: 12px;
}

.assetsLargeImage-1A0_EG {
    border-radius: 50px;
    display: block;
}

.avatarHint-2i5XWK {
    -webkit-box-shadow: inset 0 0 120px rgba(0,0,0,.75);
    -webkit-transition: opacity .1s ease;
    border-radius: 50%;
    bottom: 0;
    box-shadow: inset 0 0 120px rgba(0,0,0,.75);
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: opacity .1s ease;
    z-index: 2;
}


.role-3rahR_ {
    -webkit-box-sizing: border-box;
    border: 1px solid;
    border-radius: 1px;
    box-sizing: border-box;
    height: 22px;
    margin: 0 4px 4px 0;
    padding: 4px;
}

.image-EVRGPw, .status-3jUEha {
    border-radius: 50%;
}

.embed .embed-author-icon {
    -o-object-fit: contain;
    border-radius: 1%;
    height: 20px;
    margin-right: 9px;
    object-fit: contain;
    width: 20px;
}
.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge, .image-EVRGPw {
    background-clip: padding-box;
    background-color: none;
    background-position: 50%;
    border-radius: 1px;
    position: relative;
}

.embed .embed-footer-icon {
    -o-object-fit: contain;
    border-radius: 1px;
    float: left;
    height: 18px;
    margin-right: 10px;
    object-fit: contain;
    width: 18px;
}

.message-group .avatar-large {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
    margin-top: -2px;
    border-radius: 1px;
}

.avatarDefault-3jtQoc, .avatarSpeaking-3teDH6 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 0px;
    height: 20px;
    margin-left: 8px;
    width: 20px;
}

.status {
    -ms-flex-negative: 0;
    border-radius: 1px;
    display: inline-block;
    flex-shrink: 0;
    height: 10px;
    width: 10px;
}

.region-select-flag,
.avatar-uploader-inner{
    border-radius: 0px;
}

.guilds-wrapper .guilds-add {
    -webkit-transition: border-color .25s ease,color .25s ease;
    background: #1e2124;
    border: 1px dashed #535559;
    border-radius: 1%;
    color: #535559;
    font-size: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 100%;
    padding: 0;
    text-align: center;
    transition: border-color .25s ease,color .25s ease;
    width: 100%;
}
.region-select-modal .region-select-modal-footer {
    font-size: 14px;
    text-align: left;
}
.region-select-modal .region-select-modal-header {
    text-align: left;
    font-weight: 600;
    letter-spacing: .3px;
    font-size: 16px;
}
.region-select-modal .region-select-modal-option .region-select-flag {
    border-radius: 6px;
    border: 3px solid var(--dark-3);
    background-color: transparent;
    margin-top: -2px;
}
.region-select-modal .region-select-modal-option .region-select-name {
    margin-top: -26px;
    margin-left: 57px;
    padding: 0;
    font-weight: 500;
    text-align: left;
}
.region-select-modal .region-select-modal-option:first-of-type {
    border-radius: 3px 3px 0 0;
}
.region-select-modal .region-select-modal-option:last-of-type {
    border-radius: 0 0 3px 3px;
}
.region-select-modal .region-select-modal-options {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 4px;
}
.region-select-modal .region-select-modal-option {
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 50px;
    border: 0;
}
.region-select-modal {
    border-radius: 0;
    padding: 20px;
}
.theme-dark .region-select-modal .region-select-modal-footer {
    color: #888888;
}
.theme-dark .region-select-modal .region-select-modal-header {
    color:  #ffffff;
}
.theme-dark .region-select-modal .region-select-modal-option .region-select-name {
    color: #ffffff;
}
.theme-dark .region-select-modal .region-select-modal-option:hover {
    background-color: #7298da;
}
.theme-dark .region-select-modal .region-select-modal-option {
    background-color: #383838;
}
.theme-dark .region-select-modal {
    background-color: #202020;
    border: 1px solid #383838;
}

.theme-dark .region-select-modal .region-select-modal-option:hover {
    background-color: transparent;
}

.create-guild-container.deprecated .form.deprecated,
.form.deprecated .form-inner {
    background-color: #383838;
        border-top: 1px solid #383838;
}

.form.deprecated .btn-primary{
    background-color: #7289da;
    border-radius: 50px
}

.avatar-large[style*="173449041181409281"]+.comment .username-wrapper::after {
    content: 'Theme Creator';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #00FF06, inset 0 0 10px #00FF06;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}

.avatar-large[style*="188386066250596353"]+.comment .username-wrapper::after {
    content: 'Smago';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #EAFF00, inset 0 0 10px #EAFF00;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}
.avatar-large[style*="124962947335323650"]+.comment .username-wrapper::after {
    content: 'The Cult Of Rum';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #FF0000, inset 0 0 10px #FF0000;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}
.avatar-large[style*="124962947335323650"]+.comment .username-wrapper::after {
    content: 'The Cult Of Rum Leader';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #FF0000, inset 0 0 10px #FF0000;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}

.avatar-large[style*="154679003326709761"]+.comment .username-wrapper::after {
    content: '#RoshuArmy Leader';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #FF0000, inset 0 0 10px #FF0000;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}

.avatar-large[style*="138409971095306240"]+.comment .username-wrapper::after,
.avatar-large[style*="126007646590468096"]+.comment .username-wrapper::after,
.avatar-large[style*="137661163805605889"]+.comment .username-wrapper::after {
    content: 'The Cult Of Rum Editor';
    border: 1px solid #444;
    border-radius: 3px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 -1px 0 #000;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: #1d1133;
    border-color: #9866ff;
    box-shadow: 0 0 6px #1800FF, inset 0 0 10px #1800FF;
    color: #efe;
    font-size: 10px;
    outline: none;
    margin-left: 7px;
    padding: 2px 6px;
    line-height: 16px;
    top: -2px;
    position: relative;
}

.buttonBrandInverted-VFL7Yc:hover,
.buttonBrandInverted-VFL7Yc {
    background-color: #fff;
    color: #7289da;
    border-radius: 50px;
}

.buttonGreenFilled-6QHNrw{
    border-radius: 50px;
}
.assetsSmallImage-3WEvRP {
    border-radius: 5%;
    bottom: -4px;
    position: absolute;
    right: -4px;
}

.inputDefault-2tiBIA,
 .inputDisabled-1ayqmP {
 	 border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.theme-dark .buttonPrimaryOutlinedDefault--H0hhk, .theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx {
    border-color:  #FFEA00;
    color: #dcddde;
}
.invite-modal .avatar-xxxlarge {
    background-color: #7289da;
    border-radius: 1px;
    color: #fff;
    line-height: 128px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.guildIcon-KMiSsu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 50px;
    border-radius: 1px;
    margin-right: 10px;
    width: 50px;
}
.ui-switch-wrapper {
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    width: 44px;
    height: 24px;
    display: block;
    flex: 0 0 auto;
}
.ui-switch-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
    float: right;
}
.ui-switch-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.ui-switch-wrapper .ui-switch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #72767d;
    border-radius: 14px;
    transition: background .15s ease-in-out,box-shadow .15s ease-in-out,border .15s ease-in-out;
}
.ui-switch-checkbox:checked+.ui-switch {
    background: #7289da;
}
.ui-switch-wrapper .ui-switch::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    background: #f6f6f7;
    border-radius: 10px;
    transition: all .15s ease;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch-checkbox:checked+.ui-switch::before {
    transform: translate(20px,0)!important;
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch-checkbox+.ui-switch::before {
    transform: translate(0,0);
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch.checked::before {
    transform: translateX(20px);
}

.bda-right button {
    clear: right;
}